[submodule "docker/gui/ClientCampusIdP"]
	path = docker/gui/ClientCampusIdP
	url = https://github.com/sgomez/ClientCampusIdP.git
	branch = env-file
[submodule "docker/api/APICampusIdP"]
	path = docker/api/APICampusIdP
	url = https://github.com/sgomez/APICampusIdP.git
